@{
    ViewData["Title"] = "За системата";
}
<main class="page-content">
    <div class="container static-page">
        <h1 class="page-title">@ViewData["Title"]</h1>
        <h2 class="section-title mb-3">ЕДИНЕН ПОРТАЛ ЗА ЕЛЕКТРОННО ПРАВОСЪДИЕ</h2>
        <p>
            Порталът предоставя достъп до базата данни на съдилищата, които са публикували своите актове със заличени лични данни. Този достъп е свободен и за него не се изисква потребителски профил, защитен с парола.
        </p>
        <p>
            Ще се радваме, ако системата е удобна за работа и успява да Ви спести време и усилия. Ако имате желание да ни помогнете да я подобрим, може да използвате страницата за @Html.ActionLink("Обратна връзка", "Feedback", "Home"), а ние ще се опитаме най-бързо и точно да отговорим на всички Ваши запитвания.
        </p>
        <p>
            Оптимизираният Единен портал за електронно правосъдие е разработен по проект „Оптимизиране на Единния портал за електронно правосъдие за създаване на условия за повишаване достъпа на граждани и юридически лица до е-правосъдие“.
        </p>
        <p>
            <b>Възложител</b>: Висш съдебен съвет на Република България
            <br />
            <b>Разработчик на системата</b>: <a href="https://www.is-bg.net" target="blank" title="">Информационно Обслужване АД</a>
        </p>
    </div>
</main>