@{
    ViewData["Title"] = "Политика за достъпност";
}
<main class="page-content">
    <div class="container static-page">
        <h1 class="page-title">@ViewData["Title"]</h1>
        <h2 class="section-title">Декларация за достъпност</h2>
        <p>
            Висшият съдебен съвет на Република България се ангажира да осигури достъпност на системата за максимално широка група потребители независимо от използваните технологии и умения.
        </p>
        <p>
            Ние активно работим за подобряване на достъпността и използваемостта на Портала и в тази си дейност се придържаме към наличните стандарти и добри практики.
        </p>
        <p>
            За да отговорим на поставените изисквания и критерии за ниво на достъпност и същевременно да посрещнем изискванията на текущите интернет технологии, ще се придържаме към стандартите на WCAG 2.0.
        </p>
        <h2 class="section-title">Инициатива за уеб достъпност  (Web Accessibility Initiative)</h2>
        <p>
            Системата ще се опитва да покрие ниво на достъпност според последните стандарти на World Wide Web Consortium - Web Content Accessibility Guidelines 2.0 (WCAG 2.0), като използва най-добрите практики и техники.
        </p>
        <p>
            WCAG 2.0 обяснява как съдържанието в интернет страниците да бъде направено по-достъпно за хора с увреждания. Изпълнението на насоките ще помогне на повече хора да се чувстват удобно и да се възползват от предимствата на интернет.
        </p>        
        <h2 class="section-title">Изключения</h2>
        <p>
            Макар да се стремим да осигурим съвместимост с наличните стандарти за достъпност, това не винаги е възможно във всеки един аспект. Браузърите и техниките за разработка и достъп до интернет се развиват много бързо и понякога някои от стандартните изисквания за достъпност стават излишни. В тази светлина ние непрекъснато развиваме технологично портала с оглед постигането на високи стандарти на достъпност и използваемост на съдържанието в него.
        </p>
    </div>
</main>