@{
    ViewData["Title"] = "Често задавани въпроси";
}
<main class="page-content">
    <div class="container  static-page">
        <h1 class="page-title">@ViewData["Title"]</h1>
        <h2 class="section-title">Как да се регистрирам личен профил?</h2>
        <p>
            Всяко лице (гражданин, адвокат и други) може да създаде своя личен потребителски профил в ЕПЕП. За целта е необходимо да направите регистрация като физическо лице и да въведете Вашите три имена, тип идентификатор и валидна електронна поща в електронната форма за регистрация. Необходимо е да потвърдите въведените данни с КУКЕП (Квалифицирано удостоверение за електронен подпис), съдържащ идентификатор, който съответства на посочения във формата за регистрация (например Вашето ЕГН/ЛНЧ).
            <br/>
            Ако вече имате създаден профил в ЕПЕП с коректни лични данни, не е необходимо да създавате нов профил.
        </p>
        <p>
            <b>Важно!</b> Всяко лицe има само един профил и според необходимостта може влиза с този профил в качество физическо лице - страна по дело или адвокат. За един идентификатор (ЕГН/ЛНЧ) може да създадете само един потребителски профил.
        </p>


        <h2 class="section-title">Как да се регистрирам като юридическо лице по чл. 50 и 52 от ГПК?</h2>
        <p>
            Всички търговци и юридически лица, съгл. чл. 50 и чл. 52 от ГПК имат възможност да регистрират главен (мастър) профил на юридическото лице. За  създаването на профил е необходимо да  предоставите данни на ЮЛ (ЕИК/БУЛСТАТ), данни за представляващия ЮЛ (ЕГН/ЛНЧ) и валидни адреси на електронни пощи. Регистрацията се изпраща за проверка и потвърждение от администратор с подписване с КУКЕП, който съдържа идентификатор на ЮЛ, както и идентификатор на представляващия (ЕГН/ЛНЧ). След потвърждение на заявката за създаване на потребителски профил от администратор, ще  получите  известие на посочения електронен адрес в регистрационната форма. Към всеки главен (мастър) профил можете да регистрирате необходимия брой представляващи.
        </p>
        <p>
            <b>Важно!</b> За един идентификатор (ЕИК/ЕИК по БУЛСТАТ) може да създадете само един потребителски профил.
            <br/>
            Моля, вижте повече на <a href="https://vss.justice.bg/page/view/109380" target="_blank">следния адрес</a>.
        </p>

        <h2 class="section-title">Как да прегледам дело, до което имам предоставен достъп?</h2>
        <p>
            За да прегледате дело, до което имате предоставен достъп е необходимо да имате вече създаден потребителски профил в системата. Информацията, до която имате достъп зависи от ролята, с което достъпване ЕПЕП през Вашия профил. Можете да достъпите ЕПЕП като:
            <ul>
                <li>Гражданин (страна по дело), достъпвате профила си с роля Физическо лице;</li>
                <li>Адвокат (процесуални представители, служебни защитници и адвокатски достъп по чл. 31 от Закона за адвокатурата), достъпвате профила си с роля Адвокат;</li>
                <li>Търговци и юридически лице, държавни учреждения и общини, достъпвате профила си с роля Юридическо лица.</li>
            </ul>
        </p>

        <h2 class="section-title">Как да подам документ, за да инициирам съдебно дело?</h2>
        <p>
            Като потребител с качество (гражданин, адвокат и представляващ ЮЛ) можете през личен потребителски профил да подаде документ, чрез който да инициирате дело. Подаването на документи се извършва чрез подписване с КУКЕП на целия пакет документи от заявителя (лицето, което подава иницииращия документ през своя профил). При регистриране на документа в информационната система на съда, в профила на потребителя се получава информация за номера на документа от входящия регистър на съответният съд. В списъка на съдилищата <a asp-controller="Home" asp-action="Courts">тук</a> са посочени съдилищата, които приемат регистрирани по електронен път през ЕПЕП документи.
        </p>

        <h2 class="section-title">Какви файлови формати мога да прикача при подаване на електронен документ и как трябва да бъде подписан файла?</h2>
        <p>
            Имате възможност да прикачите неограничен брой файлове към документа с максимален размер 50MB на всеки файл.  Допустими формати са .pdf, електронно подписан с вградените функции на Adobe Acrobat Reader DC, както и .doc.p7s, .docx.p7s, .xls.p7s, .xlsx.p7s, .jpg.p7s, .jpeg.p7s, .png.p7s, .tiff.p7s и .gif.p7s подписани файлове с разширение .p7s, след задължително използване на схема на подписване „Attached signature“, при което се създава нов файл, като в него се съдържат както оригиналния документ така и цифровия подпис.
        </p>
        <p>
            <b>Важно!</b> Ако при подписване на документ се използва схемата “Detached signature”, няма да имате възможност да приложите оригиналния документ, а само файла, в който се съдържа подписа.
        </p>


        <h2 class="section-title">Как да получа достъп до дело?</h2>
        <p>
            Като потребител с качество гражданин, адвокат и представляващ ЮЛ можете през потребителския си профил да подаде заявление за предоставяне на достъп до дело, по което сте страна или процесуален представител. Електронното заявяване на достъп е възможно само за съдилища, технически свързани с ЕПЕП. В списъка на съдилищата <a asp-controller="Home" asp-action="Courts">тук</a> са посочени съдилищата, които приемат регистрирани по електронен път през ЕПЕП документи.
        </p>
        <p>
            Необходимо е да инициирате електронен документ в меню „Съдебни дела“ в потребителския Ви профил. Подаването на заявление за достъп до дело и електронно призоваване се извършва чрез подписване с КУКЕП.  Налична възможност за иницииране на дело, без заплащане на държавна такса през виртуален ПОС терминал. (Валидно за следните видове документи: заявление, възражение и други.)
        </p>
        <p>
            <b>Важно!</b> Можете да подадете заявление за достъп и електронно призоваване до всички дела, образувани в ЕИСС. Ако липсва възможност за подаване по други дела през ЕПЕП, моля, свържете се със съответния съд.
        </p>




        <h2 class="section-title">Как да подам документ по дело, до което имам достъп?</h2>
        <p>
            Като  потребител с качество гражданин, адвокат и представляващ ЮЛ можете през потребителския си профил да подаде документ по дело с предоставен достъп, чрез който да извършите процесуално действие или да направите искане за удостоверителни изявления във връзка с образувано дело, по което сте страна или процесуален представител. За целта е необходимо да потърсите конкретното делото в менюто с  „Моите дела“  (дела с предоставен достъп ) и да подадете съпровождащ документ.  Подаването на документ по дело с предоставен достъп се извършва чрез подписване с КУКЕП.
        </p>
        <p>
            <b>Важно!</b> Можете да подадете съпровождащ документ по всички дела с предоставен достъп, образувани в ЕИСС. Ако липсва възможност за подаване по други дела през ЕПЕП, моля, свържете се със съответния съд.
        </p>

        <h2 class="section-title">Как да платя държавна такса по подаден документ?</h2>
        <p>
            За всяко заявено действие или искане за удостоверително изявление в електронна форма през потребителския Ви профил, през който са извършени действията, можете да извършвате плащания на дължими държавни такси през виртуален ПОС терминал. При финализиране на действие или изявление, там където е приложимо, порталът Ви пренасочва към платежната система на банката, в която съответният съд има открита банкова сметка. Извършването на плащане става с валидна банкова карта.
        </p>

        <h2 class="section-title">Как да прекратя достъпа си до дело?</h2>
        <p>
            Като потребител с качество гражданин, адвокат и представляващ ЮЛ можете през  потребителски профил, да подаде заявление за отказ на достъп до дело, по което сте страна или процесуален представител. Необходимо е да инициирате електронен документ в меню „Моите дела“ в потребителския Ви профил. Подаването на заявление за отказ от достъп до дело и електронно призоваване се извършва чрез подписване с КУКЕП.
        </p>

        <h2 class="section-title">Как да проверя за образувано дело?</h2>
        <p>
            Справка за образувано дело може да направите в публичната част на портала във формата за търсене на дела по следните критерии:
            <ul>
                <li>Входящ номер - входящ регистрационен номер на дело в съда, в който е образувано;</li>
                <li>Номер на свързано дело.</li>
            </ul>
        </p>

        <h2 class="section-title">Как да добавя юрисконсулт или друг представляващ към профил на ЮЛ?</h2>
        <p>
            Като потребител с качество ЮЛ може да добавите в профила си неограничен брой профили на лица (юрисконсулти и представляващи) към главен (мастър) профил.  За целта е необходимо  в секция управление на данни на юридическото лице в меню “Профил” да въведете трите имена, валидна електронна поща и тип идентификатор на лицето, чрез който ще се автентикира  при вход с КЕП.
        </p>

        <h2 class="section-title">Как се предоставя достъп на юрисконсулт до дело на ЮЛ?</h2>
        <p>
            Като потребител с качество ЮЛ може да предоставите достъп до вашите дела на юрисконсулти, които сте добавили в профила си. За целта избирате конкретно дело, до което желаете да предоставите достъп в меню  “Моите дела” и добавите юрист от от предоставен списък с избор на  бутон “Добави юрист по делото”. 
        </p>

        <h2 class="section-title">Какви са изисквания за работа с компонента за подписване?</h2>
        <p>
            Използването на компонента за подписване се препоръчва от устройства с актуална версия на операционната система, през препоръчителните  уеб браузъри Edge, Google Chrome и Mozilla Firefox, и версия на Java, 8 или по-висока. Препоръчва се обновяване на браузърите и Java до последни версии, препоръчани от производителите за съответните операционни системи. Ако притежавате електронен подпис на B-TRUST и имате инсталирана локална услуга за подписване BISS, моля, изключете я.
        </p>

        <h2 class="section-title">Какви данни и документи се публикуват в ЕПЕП?</h2>
        <p>
            <b>Системата поддържа публични данни, достъпни за всички потребители, най-общо те са:</b>
            <ul>
                <li>Данни за делото;</li>
                <li>Информация на заседания;</li>
                <li>Свързани дела;</li>
                <li>Актове;</li>
                <li>Съдържание на актове (визуализират се със заличени лични данни);</li>
                <li>Мотиви (визуализират се със заличени лични данни).</li>
            </ul>
        </p>
        <p>
            <b>При достъп чрез потребителски профил имате достъп и до:</b>
            <ul>
                <li>Страни по делото;</li>
                <li>Протоколи от разпределение по делото;</li>
                <li>Сканирани документи;</li>
                <li>Протоколи от заседания;</li>
                <li>Съобщения (само когато сте заявили изрично желание да получавате електронни призовки и съобщения по конкретно дело;</li>
                <li>Съдържание на актове (визуализират се с лични данни);</li>
                <li>Мотиви (визуализират се с лични данни).</li>
            </ul>
        </p>
    </div>
</main>