@using Epep.Core.Extensions;
@{
    ViewData["Title"] = "Единен портал за електронно правосъдие";
}

<main class="page-content">
    <div class="container static-page">
        <div class="page-title__container row">
            <div class="col-auto"><h1 class="page-title">@ViewData["Title"]</h1></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Единният портал за електронно правосъдие е електронна база данни на съдебните дела, разглеждани от всички районни, окръжни, административни, военни, апелативни и върховни съдилища в Република България. В оптимизирания Единен портал за електронно правосъдие имате възможност да прегледате основна информация за всички съдебни дела със свободен публичен достъп.
                </p>
                <p>
                    ЕПЕП предоставя възможност за регистриран достъп на пълната електронна папка на Вашите съдебни дела, включително и всички съдържащи се в делото на съда документи. Достъпът до Вашето електронно дело се разрешава от съда след подаване на Заявление от Вас или Ваш процесуален представител. @*Правилата за достъп до електронна папка на съдебно дело и образци на заявления може да намерите в секция <a asp-controller="Home" asp-action="AccessPolicy">Правила за достъп</a>.*@
                </p>
                <p>
                    Достъп до конкретно електронно дело в системата могат да получат единствено страните и техните представители (определени по силата на закона или чрез упълномощаване) само след тяхното изрично волеизявление.
                </p>
                <p>
                    Достъпът се осъществява през потребителски профил. Веднъж създаден, този профил се използва за всички Ваши настоящи и бъдещи дела, независимо от това кой съд е компетентен да ги разгледа. За да бъде създаден Ваш собствен профил за достъп в системата, е необходима регистрация в портала. Можете да се регистрирате <a asp-controller="User" asp-action="RegistrationCheck">ТУК</a>.
                </p>
                <p>
                    <b>Какво ново в Портала?</b>
                </p>
                <p>
                    <b>Нова визия.</b>
                    Обновеният портал предлага на потребителите нова визия с разширени функционалности, по-удобна навигация и оптимизирана организация на електронното дело за удобство на потребителя.
                </p>
                <p>
                    <b>Нови възможности за достъп за нерегистриран потребител.</b>
                    Всеки потребител на ЕПЕП, с нерегистриран достъп има възможност да прегледа и изтегли обезличени файлове на постановени съдебни актове.
                </p>
                <p>
                    <b>Нови електронни услуги за е-правосъдие.</b>
                    Порталът предоставя нови възможности за извършване на процесуални действия и искания за удостоверителни изявления в електронна форма чрез електронни услуги за гражданите и бизнеса – иницииране на съдебни дела, подаване на документи по образувани съдебни дела, връчване на книжа на граждани, адвокати и лицата по чл. 50, ал. 5 и чл. 52 от ГПК по изцяло електронен път с вградена услуга за удостоверяване на точно време на връчване, електронни разплащания през виртуален ПОС терминал и др. Информация за съдилищата, пред които можете да извършвате процесуални действия можете да намерите в <a asp-controller="Home" asp-action="Courts">секция Съдилища</a>.
                </p>
                <p>
                    <b>Нови възможности за идентификация.</b>
                    Потребителите достъпват оптимизирания Портал чрез Квалифицирано удостоверение за електронен подпис (КУКЕП). Повече информация за сертифицираните доставчици на удостоверителни услуги можете да откриете на официалната страница на <a href="https://www.crc.bg/" target="_blank">Комисията за регулиране на съобщения.</a>
                </p>
                <p>
                    За да бъде създаден Ваш профил за достъп в системата, е необходима регистрация в портала.
                    <br />
                    Нямате регистрация в ЕПЕП? Регистрирайте се бързо и лесно <a asp-controller="User" asp-action="RegistrationCheck">тук</a>.
                    <br />
                    Имате проблем с регистрацията на профил? Потърсете помощ в секция <a asp-controller="Home" asp-action="FAQ">Често задавани въпроси</a>.
                </p>
                <p>
                    <b>Управление на достъпите с КЕП.</b>
                    Порталът предоставя възможност едно лице да има възможност да достъпва профила си с различна роля. Разграничение се прави между физически (граждани, адвокати и други лица, участващи в дела) и юридически лица (всички лица по чл. 50 и чл. 52 ГПК).
                    <br />
                    Моля да имате предвид, че през Портала са достъпни само данни и документи, изпратени за публикуване от системата от съответния съд компетентен по Вашето дело. Ако има пропуски или неточности, моля да потърсите съдействие от съответния съд.
                </p>
                <p>
                    <b>Предстоящи нововъведения:</b>
                </p>
                <p>
                    <b>Мобилно приложение.</b>
                    Уважаеми потребители, за Ваше улеснение и удобство, е планирано разработване на функционалност, улесняваща използването на ЕПЕП. Уведомяваме Ви, че предстои създаване на мобилно приложение за регистрирани потребители на ЕПЕП, чрез което ще може да се преглеждат дела с предоставен достъп.
                </p>
            </div>
        </div>
    </div>
</main>