@{
    ViewData["Title"] = "Единен портал за електронно правосъдие";
}

<main class="page-content">
    <div class="container">
        <div class="page-title__container row">
            <div class="col-auto"><h1 class="page-title">Ненамерен обект</h1></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Избраният от Вас обект не е намерен.
                </p>
            </div>
        </div>
    </div>
</main>