@model bool?
@{
    var containerClass = ViewData["container_class"] ?? "form-group";
    var value = "";
    switch (Model)
    {
        case true:
            value = "Да";
            break;
        case false:
            value = "Не";
            break;
    }

}
<div class="@containerClass">
    @if (ViewData["label"] != null)
    {
        <span class="list__label">@ViewData["label"]</span>
    }
    else
    {
        <span class="list__label">@Html.DisplayNameForModel()</span>
    }
    <div class="list__output">@value</div>
</div>