@using Epep.Core.ViewModels.User;
@model UserRegistrationVM
@{
    Layout = "_CreatePdf";
}

<center>
    <h1>Заявление </h1>
</center>
<center>за регистриране на профил в ЕПЕП</center>
<h2>@Model.FullName</h2>
<h4>@Model.UserTypeName</h4>
