@model string

<div class="message-page">
    <h1>ЗАБРАВЕНА ПАРОЛА</h1>
    <p style="font-weight:bold; font-size:18px;">Вашата заявката за забравена парола е приета.</p>
    <p style="font-weight:bold; font-size:18px;">Ще получите линк за потвърждение на електронния Ви адрес: @(Model).</p>
    <img class="warning" src="@(Url.Content(Links.Content.img.icons.success_png))" />
</div>

