@model System.Web.Mvc.HandleErrorInfo

<div class="message-page">
    <h1>Възникна грешка.<br /> Моля, опитайте отново по-късно.</h1>
    <img class="warning" src="@(Url.Content(Links.Content.img.icons.error_png))" />
</div>

