
@Html.Breadcrumb(new List<BreadcrumbItem>()
{
    new BreadcrumbItem(Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name), "Начало")
}, "За системата")

<div class="text-page clearfix">
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
        <h1>За системата</h1>
        <h2>ЕДИНЕН ПОРТАЛ ЗА ЕЛЕКТРОННО ПРАВОСЪДИЕ</h2>
        <p>
            Основното предназначение на портала е да предостави електронен достъп до делата на страните в съдебния процес. В системата с помощта на потребителско име и парола, издадени Ви еднократно от някое от съдилищата, технически свързани с портала (включените в момента съдилища, може да видите @Html.ActionLink("тук", MVC.Home.ActionNames.CourtsList, MVC.Home.Name)), имате възможност да видите в електронен вид Вашето дело, както и цялата съпътстваща го информация. При Вашето изрично, писмено съгласие с помощта на декларация имате възможност и да бъдете електронно призоваван по делото. Системата има възможност и за автоматично уведомяване чрез електронната Ви поща при настъпване на определени събития, като например електронно призоваване.
        </p>
        <p>
            Порталът предоставя и достъп до базата данни на съдилищата, които са публикували своите актове със заличени лични данни. Този достъп е свободен и за него не се изисква потребителски профил, защитен с парола.
        </p>
        <p>
            Друга функционалност, която предоставя порталът, е връзка със Системата за издаване на електронни свидетелства съдимост. Ако разполагате с електронен подпис, тук имате възможност да заявите своето Електронно свидетелство за съдимост или пък да проверите чуждо, ако разполагате с код за достъп, предоставен Ви от лицето, за което се отнася. Услугата е достъпна само за български граждани, родени в Република България и неосъждани лица. Поради технически ограничения, лицата, родени извън България, както и всички реабилитирани, засега имат възможност единствено да си извадят такова на хартия на място в съда или в Министерство на правосъдието - за родените в чужбина.
        </p>
        <p>
            Порталът предоставя и връзка към системата на Висшия съдебен съвет за приемане и обработване на жалби и сигнали за корупция в съдебната система. Чрез нея имате възможност и да проследите впоследствие движението на преписката, образувана по подадената жалба или сигнал.
        </p>
        <p>
            На по-късен етап се очаква в портала да се включат всички съдилища в Република България, а самият той да се доразвива с нови електронни услуги, като например Електронно подаване на искова молба и др.
        </p>
        <p>
            Системата е изцяло уеб базирана и за да работите с нея, е необходимо единствено уеб браузър. Допълнителни технически подробности в тази връзка може да намерите в раздел „@Html.ActionLink("Помощ", MVC.Home.ActionNames.Help, MVC.Home.Name).”.
        </p>
        <p>
            Ще се радваме, ако системата е удобна за работа и успява да Ви спести време и усилия. Ако имате желание да ни помогнете да я подобрим, може да използвате страницата за
            @Html.ActionLink("Обратна връзка", MVC.Feedback.ActionNames.Index, MVC.Feedback.Name), а ние ще се опитаме най-бързо и точно да отговорим на всички Ваши запитвания.
        </p>
        <p>
            Системата е разработена по проект: „Електронно правосъдие - проучване и изграждане на единна комуникационна и информационна инфраструктура и единен електронен портал на съдебната власт“, финансиран по Оперативна програма "Административен капацитет", съфинансирана от Европейския съюз чрез Европейския социален фонд
        </p>
        <p>
            Договорът е сключен в изпълнение на обществена поръчка с предмет: „Разработване и внедряване на единен портал на електронното правосъдие, и обучение за работа с единния портал“.
        </p>
        <p>
            <strong>Възложител:</strong> Висш съдебен съвет на Република България
        </p>
        <p>
            <strong>Разработчик на системата:</strong>
            <a href="http://www.abbaty.com/" target="blank" title="">„Абати” АД</a>, подизпълнител: „Смарт системс 2010“ ЕООД
        </p>
        <p style="margin-top: 15px; color: #1f8f00">
            <a href="http://www.abbaty.com/green/" target="_blank"><img src="@Url.Content(Links.Content.img.icons.eco_tree_png)" style="vertical-align: bottom" /></a> Моля, не отпечатвайте на хартия документи от системата, освен ако наистина е необходимо.
        </p>
    </div>
</div>