@Html.Breadcrumb(new List<BreadcrumbItem>()
{
    new BreadcrumbItem(Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name), "Начало")
}, "Списък съдилища")

<!-- DESCRIPTION -->

<h1 class="text-align-center">Списък съдилища</h1>
<div class="list-courts text-align-center" style="margin: -15px 0 10px 0;">
    <span style="font-weight:600">
        <img src="@Links.Content.img.icons.tick_green_png" />&nbsp;&nbsp;Свързаните с портала съдилища са посочени със зелена отметка
    </span>
</div>
<div class="inner-page-bg list-courts clearfix">
    <h2 class="col-xs-12">Специализирани съдилища - закрити</h2>
    <span class="col-md-6 col-lg-4 active">Апелативен специализиран наказателен съд - закрит</span>
    <span class="col-md-6 col-lg-4 active">Специализиран наказателен съд - закрит</span>

    <h2 class="col-xs-12">Върховни съдилища</h2>
    <span class="col-md-6 col-lg-4 active">Върховен административен съд</span>
    <span class="col-md-6 col-lg-4 active">Върховен касационен съд</span>

    <h2 class="col-xs-12">Апелативни съдилища</h2>
    <span class="col-md-6 col-lg-4 active">Военно-апелативен съд</span>
    <span class="col-md-6 col-lg-4 active">Бургас</span>
    <span class="col-md-6 col-lg-4 active">Варна</span>
    <span class="col-md-6 col-lg-4 active">Велико Търново</span>
    <span class="col-md-6 col-lg-4 active">Пловдив</span>
    <span class="col-md-6 col-lg-4 active">София</span>


    <h2 class="col-xs-12">Административни съдилища</h2>
    <span class="col-md-6 col-lg-4 active">Благоевград</span>
    <span class="col-md-6 col-lg-4 active">Бургас</span>
    <span class="col-md-6 col-lg-4 active">Варна</span>
    <span class="col-md-6 col-lg-4 active">Велико Търново</span>
    <span class="col-md-6 col-lg-4 active">Видин</span>
    <span class="col-md-6 col-lg-4 active">Враца</span>
    <span class="col-md-6 col-lg-4 active">Габрово</span>
    <span class="col-md-6 col-lg-4 active">Добрич</span>
    <span class="col-md-6 col-lg-4 active">Кърджали</span>
    <span class="col-md-6 col-lg-4 active">Кюстендил</span>
    <span class="col-md-6 col-lg-4 active">Ловеч</span>
    <span class="col-md-6 col-lg-4 active">Монтана</span>
    <span class="col-md-6 col-lg-4 active">Пазарджик</span>
    <span class="col-md-6 col-lg-4 active">Перник</span>
    <span class="col-md-6 col-lg-4 active">Плевен</span>
    <span class="col-md-6 col-lg-4 active">Пловдив</span>
    <span class="col-md-6 col-lg-4 active">Разград</span>
    <span class="col-md-6 col-lg-4 active">Русе</span>
    <span class="col-md-6 col-lg-4 active">Силистра</span>
    <span class="col-md-6 col-lg-4 active">Сливен</span>
    <span class="col-md-6 col-lg-4 active">Смолян</span>
    <span class="col-md-6 col-lg-4 active">София-град</span>
    <span class="col-md-6 col-lg-4 active">София-област</span>
    <span class="col-md-6 col-lg-4 active">Стара Загора</span>
    <span class="col-md-6 col-lg-4 active">Търговище</span>
    <span class="col-md-6 col-lg-4 active">Хасково</span>
    <span class="col-md-6 col-lg-4 active">Шумен</span>
    <span class="col-md-6 col-lg-4 active">Ямбол</span>


    <h2 class="col-xs-12">Районни съдилища</h2>
    <span class="col-md-6 col-lg-4 active">Софийски районен съд</span>
    <span class="col-md-6 col-lg-4 active">Айтос</span>
    <span class="col-md-6 col-lg-4 active">Ардино</span>
    <span class="col-md-6 col-lg-4 active">Асеновград</span>
    <span class="col-md-6 col-lg-4 active">Балчик</span>
    <span class="col-md-6 col-lg-4 active">Белоградчик</span>
    <span class="col-md-6 col-lg-4 active">Берковица</span>
    <span class="col-md-6 col-lg-4 active">Благоевград</span>
    <span class="col-md-6 col-lg-4 active">Ботевград</span>
    <span class="col-md-6 col-lg-4 active">Брезник</span>
    <span class="col-md-6 col-lg-4 active">Бургас</span>
    <span class="col-md-6 col-lg-4 active">Бяла</span>
    <span class="col-md-6 col-lg-4 active">Бяла Слатина</span>
    <span class="col-md-6 col-lg-4 active">Варна</span>
    <span class="col-md-6 col-lg-4 active">Велики Преслав</span>
    <span class="col-md-6 col-lg-4 active">Велико Търново</span>
    <span class="col-md-6 col-lg-4 active">Велинград</span>
    <span class="col-md-6 col-lg-4 active">Видин</span>
    <span class="col-md-6 col-lg-4 active">Враца</span>
    <span class="col-md-6 col-lg-4 active">Габрово</span>
    <span class="col-md-6 col-lg-4 active">Ген. Тошево</span>
    <span class="col-md-6 col-lg-4 active">Горна Оряховица</span>
    <span class="col-md-6 col-lg-4 active">Гоце Делчев</span>
    <span class="col-md-6 col-lg-4 active">Гълъбово</span>
    <span class="col-md-6 col-lg-4 active">Девин</span>
    <span class="col-md-6 col-lg-4 active">Девня</span>
    <span class="col-md-6 col-lg-4 active">Димитровград</span>
    <span class="col-md-6 col-lg-4 active">Добрич</span>
    <span class="col-md-6 col-lg-4 active">Дряново</span>
    <span class="col-md-6 col-lg-4 active">Дулово</span>
    <span class="col-md-6 col-lg-4 active">Дупница</span>
    <span class="col-md-6 col-lg-4 active">Елена</span>
    <span class="col-md-6 col-lg-4 active">Елин Пелин</span>
    <span class="col-md-6 col-lg-4 active">Елхово</span>
    <span class="col-md-6 col-lg-4 active">Етрополе</span>
    <span class="col-md-6 col-lg-4 active">Златоград</span>
    <span class="col-md-6 col-lg-4 active">Ивайловград</span>
    <span class="col-md-6 col-lg-4 active">Исперих</span>
    <span class="col-md-6 col-lg-4 active">Ихтиман</span>
    <span class="col-md-6 col-lg-4 active">Каварна</span>
    <span class="col-md-6 col-lg-4 active">Казанлък</span>
    <span class="col-md-6 col-lg-4 active">Карлово</span>
    <span class="col-md-6 col-lg-4 active">Карнобат</span>
    <span class="col-md-6 col-lg-4 active">Кнежа</span>
    <span class="col-md-6 col-lg-4 active">Козлодуй</span>
    <span class="col-md-6 col-lg-4 active">Костинброд</span>
    <span class="col-md-6 col-lg-4 active">Котел</span>
    <span class="col-md-6 col-lg-4 active">Крумовград</span>
    <span class="col-md-6 col-lg-4 active">Кубрат</span>
    <span class="col-md-6 col-lg-4 active">Кула</span>
    <span class="col-md-6 col-lg-4 active">Кърджали</span>
    <span class="col-md-6 col-lg-4 active">Кюстендил</span>
    <span class="col-md-6 col-lg-4 active">Левски</span>
    <span class="col-md-6 col-lg-4 active">Ловеч</span>
    <span class="col-md-6 col-lg-4 active">Лом</span>
    <span class="col-md-6 col-lg-4 active">Луковит</span>
    <span class="col-md-6 col-lg-4 active">Мадан</span>
    <span class="col-md-6 col-lg-4 active">Малко Търново</span>
    <span class="col-md-6 col-lg-4 active">Мездра</span>
    <span class="col-md-6 col-lg-4 active">Момчилград</span>
    <span class="col-md-6 col-lg-4 active">Монтана</span>
    <span class="col-md-6 col-lg-4 active">Несебър</span>
    <span class="col-md-6 col-lg-4 active">Никопол</span>
    <span class="col-md-6 col-lg-4 active">Нова Загора</span>
    <span class="col-md-6 col-lg-4 active">Нови пазар</span>
    <span class="col-md-6 col-lg-4 active">Омуртаг</span>
    <span class="col-md-6 col-lg-4 active">Оряхово</span>
    <span class="col-md-6 col-lg-4 active">Павликени</span>
    <span class="col-md-6 col-lg-4 active">Пазарджик</span>
    <span class="col-md-6 col-lg-4 active">Панагюрище</span>
    <span class="col-md-6 col-lg-4 active">Перник</span>
    <span class="col-md-6 col-lg-4 active">Петрич</span>
    <span class="col-md-6 col-lg-4 active">Пещера</span>
    <span class="col-md-6 col-lg-4 active">Пирдоп</span>
    <span class="col-md-6 col-lg-4 active">Плевен</span>
    <span class="col-md-6 col-lg-4 active">Пловдив</span>
    <span class="col-md-6 col-lg-4 active">Поморие</span>
    <span class="col-md-6 col-lg-4 active">Попово</span>
    <span class="col-md-6 col-lg-4 active">Провадия</span>
    <span class="col-md-6 col-lg-4 active">Първомай</span>
    <span class="col-md-6 col-lg-4 active">Раднево</span>
    <span class="col-md-6 col-lg-4 active">Радомир</span>
    <span class="col-md-6 col-lg-4 active">Разград</span>
    <span class="col-md-6 col-lg-4 active">Разлог</span>
    <span class="col-md-6 col-lg-4 active">Русе</span>
    <span class="col-md-6 col-lg-4 active">Самоков</span>
    <span class="col-md-6 col-lg-4 active">Сандански</span>
    <span class="col-md-6 col-lg-4 active">Свиленград</span>
    <span class="col-md-6 col-lg-4 active">Свищов</span>
    <span class="col-md-6 col-lg-4 active">Своге</span>
    <span class="col-md-6 col-lg-4 active">Севлиево</span>
    <span class="col-md-6 col-lg-4 active">Силистра</span>
    <span class="col-md-6 col-lg-4 active">Сливен</span>
    <span class="col-md-6 col-lg-4 active">Сливница</span>
    <span class="col-md-6 col-lg-4 active">Смолян</span>
    <span class="col-md-6 col-lg-4 active">Средец</span>
    <span class="col-md-6 col-lg-4 active">Ст.Загора</span>
    <span class="col-md-6 col-lg-4 active">Тервел</span>
    <span class="col-md-6 col-lg-4 active">Тетевен</span>
    <span class="col-md-6 col-lg-4 active">Тополовград</span>
    <span class="col-md-6 col-lg-4 active">Троян</span>
    <span class="col-md-6 col-lg-4 active">Трън</span>
    <span class="col-md-6 col-lg-4 active">Трявна</span>
    <span class="col-md-6 col-lg-4 active">Тутракан</span>
    <span class="col-md-6 col-lg-4 active">Търговище</span>
    <span class="col-md-6 col-lg-4 active">Харманли</span>
    <span class="col-md-6 col-lg-4 active">Хасково</span>
    <span class="col-md-6 col-lg-4 active">Царево</span>
    <span class="col-md-6 col-lg-4 active">Чепеларе</span>
    <span class="col-md-6 col-lg-4 active">Червен бряг</span>
    <span class="col-md-6 col-lg-4 active">Чирпан</span>
    <span class="col-md-6 col-lg-4 active">Шумен</span>
    <span class="col-md-6 col-lg-4 active">Ямбол</span>


    <h2 class="col-xs-12">Окръжни съдилища</h2>
    <span class="col-md-6 col-lg-4 active">Софийски градски съд</span>
    <span class="col-md-6 col-lg-4 active">Софийски окръжен съд</span>
    <span class="col-md-6 col-lg-4 active">Благоевград</span>
    <span class="col-md-6 col-lg-4 active">Бургас</span>
    <span class="col-md-6 col-lg-4 active">Варна</span>
    <span class="col-md-6 col-lg-4 active">Велико Търново</span>
    <span class="col-md-6 col-lg-4 active">Видин</span>
    <span class="col-md-6 col-lg-4 active">Враца</span>
    <span class="col-md-6 col-lg-4 active">Габрово</span>
    <span class="col-md-6 col-lg-4 active">Добрич</span>
    <span class="col-md-6 col-lg-4 active">Кърджали</span>
    <span class="col-md-6 col-lg-4 active">Кюстендил</span>
    <span class="col-md-6 col-lg-4 active">Ловеч</span>
    <span class="col-md-6 col-lg-4 active">Монтана</span>
    <span class="col-md-6 col-lg-4 active">Пазарджик</span>
    <span class="col-md-6 col-lg-4 active">Перник</span>
    <span class="col-md-6 col-lg-4 active">Плевен</span>
    <span class="col-md-6 col-lg-4 active">Пловдив</span>
    <span class="col-md-6 col-lg-4 active">Разград</span>
    <span class="col-md-6 col-lg-4 active">Русе</span>
    <span class="col-md-6 col-lg-4 active">Силистра</span>
    <span class="col-md-6 col-lg-4 active">Сливен</span>
    <span class="col-md-6 col-lg-4 active">Смолян</span>
    <span class="col-md-6 col-lg-4 active">Стара Загора</span>
    <span class="col-md-6 col-lg-4 active">Търговище</span>
    <span class="col-md-6 col-lg-4 active">Хасково</span>
    <span class="col-md-6 col-lg-4 active">Шумен</span>
    <span class="col-md-6 col-lg-4 active">Ямбол</span>


    <h2 class="col-xs-12">Военни съдилища</h2>
    <span class="col-md-6 col-lg-4 active">Пловдив</span>
    <span class="col-md-6 col-lg-4 active">Сливен</span>
    <span class="col-md-6 col-lg-4 active">София</span>
</div>