
<div class="text-page clearfix">
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
        @if (Statics.IsSummonsPortal)
        {
            <h1>Достъп до Електронно съобщаване и призоваване</h1>

            <div class="row clearfix">
                <div class="col-md-12">
                    <p>
                        В портала имате възможност да прегледате електронните копия на Вашите призовки и съобщения. Чрез портала са достъпни само документите на съдилищата, технически свързани с портала.
                    </p>
                    <p>
                        <strong>Достъп до конкретно електронно дело и призовките и съобщенията по него в системата могат да получат единствено страните и техните представители</strong>
                        (определени по силата на закона или чрез упълномощаване), но само след тяхното изрично писмено волеизявление. Достъпът се управлява (разрешава, променя или спира) от компетентния за съответното дело съд, чрез попълване и подаване на писмено искане за това.
                    </p>
                    <p>
                        Достъпът в системата се осъществява с помощта на потребителски профил, защитен с потребителско име, представляващо Вашия адрес на електронна поща и парола. Веднъж създаден, този профил се използва за всички Ваши настоящи и бъдещи дела и съответните съобщения и призовки по тях, независимо от това кой съд е компетентен да ги разгледа.
                    </p>
                    <p>
                        За да бъде създаден Ваш собствен профил за достъп в системата, е необходима регистрация в портала.
                    </p>
                    <p>
                        Системата извършва автоматично уведомяване на електронна поща при извършване на процесуални действия, като например Електронно призоваване или изпращане на съобщения. За получаване на електронни призовки и съобщения чрез системата е необходимо изричното писмено съгласие на лицето, изразено чрез попълване на писмено заявление на място в компетентния съд по съответното дело.
                    </p>
                    <p>
                        Моля да имате предвид, че през портала са достъпни само данни и документи, изпратени и заредени в системата от съответния съд, компетентен по Вашето дело. Ако има пропуски или неточности, моля да потърсите съдействие там.
                    </p>

                </div>
            </div>
        }
        else
        {
            <h1>Достъп до Електронни съдебни дела</h1>

            //OFFLINE
            <div class="row clearfix">
                <div class="col-md-12">
                    <p style="color: #f16848; font-size: 200%; font-weight: bolder; text-decoration: underline; margin-bottom: -15px;">Важно!!!</p>
                    <p style="font-style:italic;font-size:125%;border-bottom:1px solid #555;padding-bottom:10px;">
                        Уважаеми потребители,<br/>Поради планирано въвеждане на нови функционалности по проект с предмет: „Оптимизиране на Единния портал за електронно правосъдие за създаване на условия за повишаване достъпа на граждани и юридически лица до е-правосъдие“  Ви информираме, че <b style="text-decoration:underline;">от 17:00ч. на  24 март 2023 г. (петък) до 17:00 ч. на 26 март 2023г. (неделя)</b> няма да бъдат достъпни електронните услуги, предоставяни от Единния портал за електронно правосъдие.<br/>Извиняваме се за причиненото неудобство.
                    </p>
                    
                </div>
            </div>            
            //OFFLINE

            <div class="row clearfix">
                <div class="col-md-6">
                    <p>
                        В портала имате възможност да прегледате електронните копия на Вашите съдебни дела, включително и да копирате различни документи, съдържащи се във Вашето дело. Чрез портала са достъпни делата само на съдилищата, технически свързани с портала.
                        <a href="@(Url.Action(MVC.Home.ActionNames.CourtsList, MVC.Home.Name))">Списък на свързаните до момента с портала съдилища</a>
                        <span style="display:block; margin-top: 5px;">Информация за данните, съдържащи се в електронното дело, може да видите в раздел "<a href="@(Url.Action(MVC.Home.ActionNames.Help, MVC.Home.Name))#case-data">Помощ</a>".</span>
                    </p>
                    <p>
                        <strong>Достъп до конкретно електронно дело в системата могат да получат единствено страните и техните представители</strong> (определени по силата на закона или чрез упълномощаване), но само след тяхното изрично писмено волеизявление. Достъпът се управлява (разрешава, променя или спира) от компетентния за съответното дело съд, чрез попълване и подаване на писмено искане за това.
                    </p>
                    <p>
                        Достъпът в системата се осъществява с помощта на потребителски профил, защитен с потребителско име, представляващо Вашия адрес на електронна поща и парола. Веднъж създаден, този профил се използва за всички Ваши настоящи и бъдещи дела, независимо от това кой съд е компетентен да ги разгледа.
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        За да бъде създаден Ваш собствен профил за достъп в системата, е необходима регистрация в портала (редът за извършване на регистрация може да видите в <a href="@(Url.Action(MVC.Home.ActionNames.ElectronicCasesAccessRules, MVC.Home.Name))">Правилата за достъп до електронни дела</a>). Регистрацията се извършва на място в някое от съдилищата, свързани с портала, чрез еднократно попълване на писмено заявление.
                    </p>
                    <p>
                        Системата дава възможност и за автоматично уведомяване на електронна поща при извършване на определени процесуални действия, като например Електронно призоваване. За получаване на електронни призовки и съобщения чрез системата е необходимо изричното писмено съгласие на лицето, изразено чрез попълване на писмено заявление на място в компетентния съд по съответното дело.
                    </p>
                    <p>
                        Моля да имате предвид, че през портала са достъпни само данни и документи, изпратени и заредени в системата от съответния съд, компетентен по Вашето дело. Ако има пропуски или неточности, моля да потърсите съдействие там.
                    </p>
                </div>
            </div>
        }


        @if (!Request.IsAuthenticated)
        {
            string loginText = "Вход в системата за Електронни дела";
            if (Statics.IsSummonsPortal)
            {
                loginText = "Вход в системата за призоваване";
            }
            <div class="home-login">
                @Html.ActionLink(loginText, MVC.Account.ActionNames.Login, MVC.Account.Name, null, new { @class = "home-login-btn" })
            </div>
        }
    </div>
</div>
