<div class="inner-top-head"> </div>

@Html.Breadcrumb(new List<BreadcrumbItem>()
{
    new BreadcrumbItem(Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name), "Начало")
}, "Политика за достъпност")

<div class="text-page clearfix">
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
        <h1>Политика за достъпност</h1>
        <h2>Декларация за достъпност</h2>
        <p>
            Висшият съдебен съвет на Република България се ангажира да осигури достъпност на системата за максимално широка група потребители независимо от използваните технологии и умения.
        </p>
        <p>
            Ние активно работим за подобряване на достъпността и използваемостта на портала и в тази си дейност се придържаме към наличните стандарти и добри практики.
        </p>
        <p>
            За да отговорим на поставените изисквания и критерии за ниво на достъпност, поставени от Европейската комисия относно интернет страниците на публичната администрация, и същевременно да посрещнем изискванията на текущите интернет технологии, ще се придържаме към стандартите на WCAG 2.0 и ниво на съответствие "Двойно-A".
        </p>
        <h2>Инициатива за уеб достъпност</h2>
        <p>
            Системата ще се опитва да покрие ниво на достъпност двойно-А според последните стандарти на World Wide Web Consortium - Web Content Accessibility Guidelines 2.0 (WCAG 2.0), като използва най-добрите практики и техники.
        </p>
        <p>
            WCAG 2.0 обяснява как съдържанието в интернет страниците да бъде направено по-достъпно за хора с увреждания. Изпълнението на насоките ще помогне на повече хора да се чувстват удобно и да се възползват от предимствата на интернет.
        </p>
        <h2>W3C Стандарти</h2>
        <p>
            Системата ще се опитва да покрие ниво на достъпност двойно-А според последните стандарти на World Wide Web Consortium - Web Content Accessibility Guidelines 2.0 (WCAG 2.0), като използва най-добрите практики и техники.
        </p>
        <h2>Изключения</h2>
        <p>
            Макар да се стремим да осигурим съвместимост с наличните стандарти за достъпност, това не винаги е възможно във всеки един аспект. Браузърите и техниките за разработка и достъп до интернет се развиват много бързо и понякога някои от стандартните изисквания за достъпност стават излишни. В тази светлина ние непрекъснато развиваме технологично портала с оглед постигането на високи стандарти на достъпност и използваемост на съдържанието в него.
        </p>
    </div>
</div>

