@model bool?
@{
    bool value = Model ?? false;
}
<div class="form-check">
    @Html.CheckBox("",value, new { @class = "form-check-input" })
    @if (ViewData["label"] != null)
    {
        <label class="form-check-label">@ViewData["label"]</label>
    }
    else
    {
        <label asp-for="@Model" class="form-check-label"></label>
    }
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>
