
<div class="message-page">
    <h1>ОБРАТНА ВРЪЗКА</h1>
    <p style="font-weight:bold; font-size:18px;">Вашето съобщение е прието.</p>
    <p style="font-weight:bold; font-size:18px;">В случай че сте посочили валиден адрес на електронна поща, при необходимост и нужда, ще се свържем с Вас.</p>
    <img class="warning" src="@(Url.Content(Links.Content.img.icons.success_png))" />
</div>

