@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial;
            font-size: 12pt;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>