@{
    Layout = null;
    string portalUrl = (string)ViewData["portalUrl"];
    string portalFeedback = (string)ViewData["feedbackUrl"];
}
<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Tahoma, Arial,Verdana, Geneva, sans-serif;
            font-size: 12pt;
            width: 95vw;
            padding-top: 10pt;
        }
    </style>
</head>
<body>
    @RenderBody()

    <p style="margin-bottom: 2px; border-bottom: 1px solid black;">
        Поздрави,<br />
        Екипът на Единния портал за електронно правосъдие
    </p>

    <p style="font-size: 13px; margin-top: 0px;">
        Моля, не отговаряйте на този имейл. Той е изпратен автоматично от служебната поща на системата.<br />
        При необходимост от съдействие и помощ, моля, използвайте контактите, посочени на
        <a href="@portalUrl">Единния портал за електронно правосъдие</a> или формата за <a href="@portalFeedback">Обратна връзка</a>.
    </p>
</body>
</html>